In [1]:
import pandas as pd

# Wczytywanie danych z pliku CSV
file_path = 'C:/Users/48514/Downloads/car_prices_3.csv/car_prices_3.csv'
data = pd.read_csv(file_path)

In [2]:
# Sprawdzenie, czy są jakiekolwiek puste wartości w DataFrame
null_values = data.isnull().values.any()

if null_values:
    print("Istnieją puste wartości w danych.")
else:
    print("Nie ma pustych wartości w danych.")
    
# Liczba brakujących wartości w każdej kolumnie
missing_values_per_column = data.isnull().sum()
print("Liczba brakujących wartości w każdej kolumnie:")
print(missing_values_per_column)

# Liczba obserwacji z przynajmniej jedną brakującą wartością
observations_with_missing_values = data.isnull().any(axis=1).sum()
print(f"\nLiczba obserwacji z przynajmniej jedną brakującą wartością: {observations_with_missing_values}")

# Liczba obserwacji bez brakujących wartości
observations_without_missing_values = data.notnull().all(axis=1).sum()
print(f"Liczba obserwacji bez brakujących wartości: {observations_without_missing_values}")

# Całkowita liczba brakujących wartości w DataFrame
total_missing_values = data.isnull().sum().sum()
print(f"Całkowita liczba brakujących wartości w DataFrame: {total_missing_values}")

# Usunięcie wierszy z brakującymi wartościami
data_cleaned = data.dropna()

Istnieją puste wartości w danych.
Liczba brakujących wartości w każdej kolumnie:
COMPANY          9721
MODEL            9802
TYPE            10030
SIZE            12294
transmission    59782
state               0
condition        6494
odometer           61
color             749
interior          749
seller              0
mmr                11
sellingprice       11
sale Day           11
Sale month         11
Sale year          11
dtype: int64

Liczba obserwacji z przynajmniej jedną brakującą wartością: 76657
Liczba obserwacji bez brakujących wartości: 440393
Całkowita liczba brakujących wartości w DataFrame: 109737

In [3]:
# Definiowanie kwintylów
data_cleaned.loc[:, 'price_category'] = pd.qcut(data_cleaned['sellingprice'], q=5, labels=['Bardzo tanie', 'Tanie', 'Średnie', 'Drogie', 'Bardzo drogie'])

# Wyświetlenie kilku pierwszych wierszy
print(data_cleaned[['sellingprice', 'price_category']].head())

   sellingprice price_category
0       21500.0  Bardzo drogie
1       21500.0  Bardzo drogie
2       30000.0  Bardzo drogie
3       27750.0  Bardzo drogie
4       67000.0  Bardzo drogie

C:\Users\48514\AppData\Local\Temp\ipykernel_20772\1108342460.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned.loc[:, 'price_category'] = pd.qcut(data_cleaned['sellingprice'], q=5, labels=['Bardzo tanie', 'Tanie', 'Średnie', 'Drogie', 'Bardzo drogie'])

In [12]:
# Zapisanie oczyszczonego zestawu danych do nowego pliku CSV
cleaned_file_path = 'C:/Users/48514/Downloads/car_prices_3.csv/car_prices_3_cleaned.csv'
data_cleaned.to_csv(cleaned_file_path, index=False)

print(data_cleaned)

       COMPANY                MODEL         TYPE       SIZE transmission  \
0          Kia              Sorento           LX        SUV    automatic
1          Kia              Sorento           LX        SUV    automatic
2          BMW             3 Series   328i SULEV      Sedan    automatic
3        Volvo                  S60           T5      Sedan    automatic
4          BMW  6 Series Gran Coupe         650i      Sedan    automatic
...        ...                  ...          ...        ...          ...
517044     BMW             5 Series         528i      Sedan    automatic
517046     Ram                 2500  Power Wagon   Crew Cab    automatic
517047     BMW                   X5    xDrive35d        SUV    automatic
517048  Nissan               Altima        2.5 S      sedan    automatic
517049    Ford                F-150          XLT  SuperCrew    automatic

       state  condition  odometer  color interior  \
0         ca        5.0   16639.0  white    black
1         ca        5.0    9393.0  white    beige
2         ca       45.0    1331.0   gray    black
3         ca       41.0   14282.0  white    black
4         ca       43.0    2641.0   gray    black
...      ...        ...       ...    ...      ...
517044    fl       39.0   66403.0  white    brown
517046    wa        5.0   54393.0  white    black
517047    ca       48.0   50561.0  black    black
517048    ga       38.0   16658.0  white    black
517049    ca       34.0   15008.0   gray     gray

                                                   seller      mmr  \
0                                 kia motors america  inc  20500.0
1                                 kia motors america  inc  20800.0
2                  financial services remarketing (lease)  31900.0
3                                 volvo na rep/world omni  27500.0
4                  financial services remarketing (lease)  66000.0
...                                                   ...      ...
517044           lauderdale imports ltd bmw pembrok pines  20300.0
517046                                    i -5 uhlmann rv  30200.0
517047             financial services remarketing (lease)  29800.0
517048  enterprise vehicle exchange / tra / rental / t...  15100.0
517049                   ford motor credit company llc pd  29600.0

        sellingprice sale Day Sale month  Sale year price_category
0            21500.0      Tue        Dec     2014.0  Bardzo drogie
1            21500.0      Tue        Dec     2014.0  Bardzo drogie
2            30000.0      Thu        Jan     2015.0  Bardzo drogie
3            27750.0      Thu        Jan     2015.0  Bardzo drogie
4            67000.0      Thu        Dec     2014.0  Bardzo drogie
...              ...      ...        ...        ...            ...
517044       22800.0      Tue        Jul     2015.0  Bardzo drogie
517046       30800.0      Wed        Jul     2015.0  Bardzo drogie
517047       34000.0      Wed        Jul     2015.0  Bardzo drogie
517048       11100.0      Thu        Jul     2015.0        Średnie
517049       26700.0      Thu        May     2015.0  Bardzo drogie

[440393 rows x 17 columns]